@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: url(https://img.freepik.com/free-photo/unfocused-waiting-room-with-stairs_1203-1208.jpg?w=1060&t=st=1722934473~exp=1722935073~hmac=d7d8b160785b322d25845061b7d6e4167dcadd63f01c9bfdd5e5142c3f001667);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width:6px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background-color: aliceblue;
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background: #1b1b1b;
  border-radius: 10px;
}